/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

 */

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Bowlby One", sans-serif;
  --primary-color: #1e1e1e;
  --purple-color: #b3a0cd;
  --green-color: #d1ef53;
  --white-color: aliceblue;
  --large-weight: 900;
  --mid-weight: 400;
  --light-weight: 200;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  color: var(--white-color);
}
a {
  text-decoration: none;
  color: var(--white-color);
}

/* .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

/* xxs */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
  /* GENERAL----------------------------- */
  section {
    text-align: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: var(--large-weight);
    font-size: 10px;
  }
  .navlist {
    display: flex;
    gap: 1rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 35vh;
    position: relative;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    max-width: 30rem;
    aspect-ratio: 1/1;
    margin: -3rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-weight: var(--mid-weight);
    line-height: 1.5rem;
    font-size: 16px;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info h2 {
    font-size: 35px;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 10px;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 20px;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 25px;
    margin: 2rem 0;
  }
  .platillos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1rem;
    margin: 0 auto;
  }
  .product-card {
    width: 70%;
    height: auto;
    max-height: 18rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    margin: 0 auto;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 15px;
  }
  .product-desc {
    font-size: 10px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .rev-card p {
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0 -2rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 70%;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }

  .clientes-discurso {
    font-size: 20px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
    max-width: 100%;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    height: auto;
    min-height: 60vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}
@media (min-width: 370px) {
  .container {
    max-width: 370px;
  }
  /* GENERAL----------------------------- */
  section {
    text-align: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: var(--large-weight);
    font-size: 10px;
  }
  .navlist {
    display: flex;
    gap: 1rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 40vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    aspect-ratio: 1/1;
    margin: -3rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-weight: var(--mid-weight);
    line-height: 1.5rem;
    font-size: 16px;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info h2 {
    font-size: 35px;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 10px;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 20px;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 25px;
    margin: 2rem 0;
  }
  .platillos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1rem;
    margin: 0 auto;
  }
  .product-card {
    width: 70%;
    height: auto;
    max-height: 18rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    margin: 0 auto;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 15px;
  }
  .product-desc {
    font-size: 10px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .rev-card p {
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0 -2rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 70%;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }
  .clientes-discurso {
    font-size: 20px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
    max-width: 100%;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    height: auto;
    min-height: 60vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}
/* xs */
@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
  section {
    text-align: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: var(--large-weight);
    font-size: 13px;
  }
  .navlist {
    display: flex;
    gap: 1rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 50vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 22px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    aspect-ratio: 1/1;
    margin: -3rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-size: 13px;
    font-weight: var(--mid-weight);
    line-height: 1rem;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 17px;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 36px;
    margin-bottom: 2rem;
  }
  .platillos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1rem;
    margin: 0 auto;
  }
  .product-card {
    width: 70%;
    height: auto;
    max-height: 18rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    margin: 0 auto;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 18px;
  }
  .product-desc {
    font-size: 12px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .rev-card p {
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0 -2rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 70%;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }

  .clientes-discurso {
    font-size: 20px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
    padding: 1rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
    max-width: 100%;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  section {
    text-align: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: var(--large-weight);
    font-size: 13px;
  }
  .navlist {
    display: flex;
    gap: 1rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {

    height: 75vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 32px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    max-width: 40rem;
    aspect-ratio: 1/1;
    margin: -5rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-size: 18px;
    font-weight: var(--mid-weight);
    line-height: 1.2rem;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 17px;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 36px;
    margin-bottom: 2rem;
  }
  .platillos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1rem;
    margin: 0 auto;
  }
  .product-card {
    width: 70%;
    height: auto;
    max-height: 18rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    margin: 0 auto;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 8rem;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 20px;
  }
  .product-desc {
    font-size: 16px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .rev-card p {
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 80%;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }

  .clientes-discurso {
    font-size: 20px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
    padding: 1rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
    max-width: 100%;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: fit-content;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 70vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}

/* md */
@media (min-width: 760px) {
  .container {
    max-width: 760px;
  }

  /* GENERAL----------------------------- */
  section {
    text-align: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    height: auto;
    width: 80%;
    margin: 4rem auto;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: var(--large-weight);
    font-size: 16px;
  }
  .navlist {
    display: flex;
    gap: 1rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 80vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 32px;
    width: 70%;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    max-width: 50rem;
    aspect-ratio: 1/1;
    margin: -6rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-size: 15px;
    font-weight: var(--mid-weight);
    line-height: 1.5rem;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info h2 {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 25px;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 28px;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 56px;
    margin-bottom: 2rem;
  }
  .platillos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1rem;
    margin: 0 auto;
  }
  .product-card {
    width: 70%;
    height: auto;
    max-height: 18rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    margin: 0 auto;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 19px;
  }
  .product-desc {
    font-size: 15px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .rev-card h4 {
    font-size: 22px;
  }
  .rev-card p {
    width: 70%;
    font-size: 20px;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0.4rem -1rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }

  .clientes-discurso {
    font-size: 25px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
    padding: 1rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
    max-width: 100%;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: fit-content;
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 70vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  /* GENERAL----------------------------- */
  section {
    text-align: center;
    margin: 2rem;
    height: auto;
    margin: 4rem auto;
    width: 80%;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    font-weight: var(--large-weight);
  }
  .navlist {
    display: flex;
    gap: 2rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 70vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 40px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    max-width: 40rem;
    aspect-ratio: 1/1;
    margin: -6rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-weight: var(--mid-weight);
    line-height: 1.4rem;
    font-size: 18px;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container h2 {
    font-size: 40px;
  }
  .nosotros-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 30px;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 70px;
    /* font-family: var(--secondary-font); */
    margin-bottom: 4rem;
  }
  .platillos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .product-card {
    width: auto;
    height: auto;
    max-height: 18rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 20px;
  }
  .product-desc {
    font-size: 14px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .rev-card p {
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0.4rem -1rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }
  .clientes-discurso {
    font-size: 30px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
    font-size: 20px;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
  }
  .contacto-container h3 {
    font-size: 25px;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}

/* xl */
@media (min-width: 1280px) {
  /* GENERAL----------------------------- */
  .container {
    max-width: 1280px;
  }
  section {
    text-align: center;
    margin: 2rem;
    height: auto;
    margin: 4rem auto;
    width: 80%;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    font-weight: var(--large-weight);
    font-size: 20px;
  }
  .navlist {
    display: flex;
    gap: 2rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 95vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 60px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    max-width: 40rem;
    aspect-ratio: 1/1;
    width: 50rem;
    margin: -6rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-weight: var(--mid-weight);
    line-height: 1.6rem;
    font-size: 20px;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container h2 {
    font-size: 60px;
  }
  .nosotros-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 40px;
    line-height: 1.6;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 100px;
    /* font-family: var(--secondary-font); */
    margin-bottom: 4rem;
  }
  .platillos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .product-card {
    width: auto;
    min-height: 24rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 30px;
  }
  .product-desc {
    font-size: 18px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .rev-card p {
    font-size: 25px;
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card h4 {
    font-size: 29px;
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0.4rem -1rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }
  .clientes-discurso {
    font-size: 30px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
    font-size: 20px;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
  }
  .contacto-container h3 {
    font-size: 25px;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}


@media (min-width: 1420px) {
  /* GENERAL----------------------------- */
  .container {
    max-width: 1420px;
  }
  section {
    text-align: center;
    margin: 2rem;
    height: auto;
    margin: 4rem auto;
    width: 80%;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    font-weight: var(--large-weight);
    font-size: 20px;
  }
  .navlist {
    display: flex;
    gap: 2rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 95vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 60px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    max-width: 50rem;
    aspect-ratio: 1/1;
    margin: -6rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-weight: var(--mid-weight);
    line-height: 1.6rem;
    font-size: 20px;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container h2 {
    font-size: 60px;
  }
  .nosotros-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 40px;
    line-height: 1.6;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 100px;
    /* font-family: var(--secondary-font); */
    margin-bottom: 4rem;
  }
  .platillos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .product-card {
    width: auto;
    min-height: 24rem;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 30px;
  }
  .product-desc {
    font-size: 18px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .rev-card p {
    font-size: 25px;
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card h4 {
    font-size: 29px;
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0.4rem -1rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }
  .clientes-discurso {
    font-size: 30px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
    font-size: 20px;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
  }
  .contacto-container h3 {
    font-size: 25px;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  section {
    text-align: center;
    margin: 2rem;
    height: auto;
    margin: 4rem auto;
    width: 80%;
  }
  .box {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* horizontal offset | vertical offset | blur radius | spread radius | color */
  }
  .preload .title {
    display: none; /* Oculta el título mientras se cargan los estilos */
  }
  .button:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
    transform: scale(1.11);
    cursor: pointer;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--purple-color);
    color: var(--primary-color);
    border: #1e1e1e solid 3px;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: inline-block; /* Establece el botón como un elemento en línea con bloque */
    width: fit-content;
    /* margin: 0 auto; */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: auto;
    height: auto;
    max-height: 18rem;

    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  /* NAVBAR----------------------------------- */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    font-weight: var(--large-weight);
    font-size: 20px;
  }
  .navlist {
    display: flex;
    gap: 2rem;
  }
  .nav-link:hover {
    scale: 1.1;
    cursor: pointer;
  }
  /* HEADER------------------------------------- */
  header {
    height: 90vh;
  }
  .header-title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 60px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    line-height: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(+20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-container {
    aspect-ratio: 1/1;
    max-width: 50rem;
    margin: -7rem auto;
    background-image: url(/assets/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .shadow {
    filter: drop-shadow(
      0px 4px 60px rgba(255, 255, 0, 0.3)
    ); /* Aplica un efecto de sombra con filtro de color amarillo */
  }

  /* .navbar-shadow {
  box-shadow: 0 4px 10px -1px rgba(255, 165, 0, 0.2);
} */

  /* NOSOTROS --------------------------------- */
  .parrafo {
    font-weight: var(--mid-weight);
    line-height: 1.8rem;
    font-size: 28px;
  }
  .nosotros-container > h2 {
    text-align: start;
  }
  .nosotros-container h2 {
    font-size: 60px;
  }
  .nosotros-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 20px;
  }

  .nosotro-info > a {
    align-self: start;
  }
  .nosotro-info {
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nosotros-desc {
    font-weight: var(--large-weight);
    font-family: var(--secondary-font);
    font-size: 50px;
    line-height: 1.6;
    text-align: start;
    text-transform: uppercase;
  }
  /* PLATILLOS------------------ */
  .section-title {
    font-size: 100px;
    /* font-family: var(--secondary-font); */
    margin-bottom: 4rem;
  }
  .platillos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .product-card div {
    padding-bottom: 1rem;
  }
  .product-card {
    width: auto;
    height: auto;
    background-color: #853636;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
  }
  .product-card:nth-child(odd) {
    /* margin-top: 3rem; */
  }
  .product-img {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  .product-name {
    margin-bottom: 1rem;
    font-size: 30px;
  }
  .product-desc {
    font-size: 20px;
    line-height: 1.5;
  }
  /*CLIENTES --------------------- */
  .review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .rev-card p {
    font-size: 25px;
    width: 70%;
  }
  .rev-card:nth-child(even) {
    /* margin-top: 2rem; */
  }
  .rev-card h4 {
    font-size: 29px;
  }
  .rev-card::before {
    position: absolute;
    content: "";
    inset: 0 -2rem 0 0;
    background-image: url(/assets/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 70%;
    z-index: -1;
  }
  .rev-card {
    position: relative;
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to right, #d1ef53, transparent);
    /* background-color: var(--green-color); */
    color: var(--primary-color);
  }

  .clientes-discurso {
    font-size: 30px;
    font-weight: var(--large-weight);
    line-height: 2;
    margin-top: 2rem;
  }

  /* CONTACTO---------- */
  label {
    font-weight: var(--large-weight);
    margin-bottom: 1rem;
    font-size: 20px;
  }
  input {
    width: 100%;
    padding: 0.2rem;
    font-family: var(--primary-font);
  }
  textarea {
    font-family: var(--primary-font);
    padding: 0.2rem;
  }
  .form-card {
    text-align: start;
    height: auto;
    max-height: 18rem;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--green-color);
    color: var(--primary-color);
  }

  .contacto-msj {
    margin-bottom: 2rem;
  }

  /* styles.css */

  .contacto-container {
    position: relative;
    min-height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4rem;
  }
  .contacto-container h3 {
    font-size: 25px;
  }

  .contacto-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/restaurant.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2; /* Ajusta la opacidad del fondo */
    z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  }

  .contacto-container > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
  }
}
footer {
  text-align: center;
  height: 30vh;
  padding: 2rem;
  display: flex;
  place-content: center;
}
.footer-section {
}
